{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Nous sommes fiers de vous présentez..
</h1>
<img src="{{url_for('static', filename='wtb.png')}}" align="middle" />
{{para}}<br><br/>
<h2 class="subtitle">
  L'application qui vous aide à trier vos déchets !
</h2>
{{para}}<br><br/>{{para}}<br><br/>{{para}}<br><br/>
<h1 class="title">
  Un peu d'info...
</h1>
<br/><br/>
<img src="{{url_for('static', filename='illustration-ademe.webp')}}" align="middle" />
{{para}}<br><br/>{{para}}<br><br/>{{para}}<br><br/>
<h1 class="title">
  Comment réduire ses déchets en 6 étapes
</h1>
<br/><br/><br/><br/>
<h2 class="title">
  1.Remplacer le jetable par du durable
</h2>
<br/>
<p>
  Notre société industrielle s’est construite sur le modèle de la croissance économique par la (sur)consommation. De fait, dans une logique de linéarité et non une circularité, la société nous pousse à acheter, utiliser puis jeter. L’appauvrissement de la qualité des produits, leur volontaire obsolescence programmée, leur production à bas coup encouragent cette dynamique.
  Ainsi, pour réduire ses poubelles visibles (et invisibles), il faut rompre cette linéarité et opter plutôt pour une circularité !
  Il est préférable d’opter pour des matériaux naturels et pérennes comme le bois, l’inox, le fer… Ces objets durent plus longtemps, peuvent se trouver d’occasion et se réparer plus facilement. Pour les vêtements, par exemple, on privilégie les achats de seconde main. Et, l’achat neuf est nécessaire, on investit dans les matières sobres, naturelles, de bonne qualité qui pourront durer longtemps.
</p>
<br/><br/>
<h2 class="title">
  2. Valoriser les bio-déchets et réduire le gaspillage alimentaire = – 30%
</h2>
<br/>
<p>
  Les « déchets » organiques représentent 30% de la taille de notre poubelle : épluchures, restes de repas, gaspillage alimentaire…
  Zero Waste a la double signification « zéro déchet » mais aussi « zéro gaspillage ». Avec l’idée de réduire la production de déchet à la source. Ainsi, il est important de réduire le gaspillage alimentaire : en achetant moins et en quantité nécessaire et suffisante, en cuisinant les restes, en utilisant les épluchures…
  Ensuite, pour les déchets organiques restants, le compost, lombri compost permet de les transformer en matière riche et fertile utilisable ensuite au jardin. On vous invite à lire notre article sur le compost pour plus de détails.
</p>
<br/><br/>
<h2 class="title">
  3. Acheter en VRAC et faire soi-même = – 30%
</h2>
<br/>
<p>
  C’est devenu une « icône » du zéro déchet : faire ses courses en vrac – comprendre sans emballage – est un des inconditionnels de la démarche. Ainsi, que nous faisons 90% de nos courses depuis maintenant 4 ans.
  Acheter en vrac peut se faire dans les magasins équipés de distributeurs d’aliments sans emballages. La plupart du temps, il s’agit de magasins bio même si, les grandes surfaces (sentant le vent tourner) s’y mettent de plus en plus. Mais l’endroit où il est le plus facile d’acheter sans emballage : c’est le marché ! On met ses légumes et ses fruits directement dans le panier, on présente nos boites chez le crémier ou notre bocal au marchand d’olives : on a consacré un article complet sur le marché si vous souhaitez y jeter un oeil.
</p>  
<br/><br/>
<h2 class="title">
  4. REFUSER
</h2><br/>
<p>
  C’est un des piliers de la démarche zéro waste, un des « 5R » est REFUSER. Dit comme ça, cela peut paraître simple et pourtant c’est peut-être une des choses les plus difficiles à faire sur la longueur. Savoir/oser refuser :
  - Les pailles dans mon soda
  - La pub non désirée dans ma boite aux lettres
  - Ce sac en plastique qu’on me tend à la caisse
  - Cet objet publicitaire qu’on me tend, au flyer ou au cadeau….
  <br/>
  Et pourtant en disant NON, on évite de ramener chez soi, d’accumuler ou jeter tout un tas de choses dont au final, on n’a pas besoin et qui n’ont pas d’utilité réelle. Et ça contribue sacrément à diminuer la taille de la poubelle.
</p>   
<br/><br/>
<h2 class="title">
  5. Bien trier ses déchets recyclables
</h2><br/>
<p>
  Le tri sélectif est souvent présenté comme l’acte écologique par excellence. Nous avons longtemps nous-mêmes pensé que nous étions de bonnes citoyennes en triant nos déchets.
  Or, pour réduire réellement et durablement nos déchets, il faut réduire à la source leur production. Dans cette optique, le tri sélectif n’arrive qu’en dernier recours. Après avoir réduit au minimum les emballages alimentaires (avec les courses en vrac, les consignes notamment), avoir composté ses bio-déchets et réduit ses achats neufs.
  Car le recyclage a ses limites : en effet si environ 65% des papiers-cartons et des 55% du verre sont recyclés correctement pour être réutilisés comme matières premières, le plastique lui est très peu valorisé et réutilisé comme matière première : entre 7% et 20% seulement.
  D’autant plus que recycler les matières demande beaucoup d’énergie. Or, à l’heure où il est nécessaire de réduire nos émissions de C02, la priorité n’est pas à en produire du CO2 pour recycler des matières dont la consommation pourrait être diminuée voir évitée.
</p>
<br/><br/>  
<h2 class="title">
  6. Changer ses habitudes de CONSOMMATION
</h2><br/>
<p>
  Pour éviter de jeter et ainsi réduire ses déchets ménagers, il faut changer ses habitudes de consommation en général. Réparer plutôt que jeter, réutiliser les objets pour allonger leur durée de vie en achetant de seconde main par exemple, refuser d’acheter certaines choses dont on peut largement se passer, privilégier l’achat de produits sans emballages…
  Il existe bien d’autres façon de vivre que par la consommation : on peut troquer, échanger, acheter d’occasion, réparer ses objets dans des repairs café, utiliser une monnaie locale comme le sol violette sur Toulouse…
  <br/><br/><br/>
</p> 
 
{% endblock %}